<div class="container">
 
  <div class="row">
     <h1>Register</h1>
<div class="col-md-3 offset-md-3">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for ="firstName">First Name</label>
     <input formControlName="['firstName']" #firstNameInput [ngClass]="{'is-invalid': submitted && registerForm.controls['firstName'].errors && !firstNameInput.value}" type="text" class="form-control">


     <!-- To show the error message we add the ngClass
      in-valid is a class in bootstrap  that inserts the red boarder around the input field 
      and in our case it is true when ever the form is submitted-->
     
    </div>

    <div class="form-group">
      <label for ="lastName">Last Name</label>
    <input formControlName="['lastName']" #lastNameInput [ngClass]="{'is-invalid': submitted && registerForm.controls['lastName'].errors && !lastNameInput.value}" type="text" class="form-control">

    </div>

<div class="form-group">
  <label for="Email">Email Address</label>
  <input formControlName="['email']" #emailInput [ngClass]="{'is-invalid': submitted && registerForm.controls['email'].errors && !emailInput.value}" type="email" class="form-control">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input formControlName="['password']" #passwordInput [ngClass]="{'is-invalid': submitted && registerForm.controls['password'].errors && !passwordInput.value}" type="password" class="form-control">
</div>


<div class="form-group">

  <button class="btn btn-primary">
    Register
  </button>
</div>

  </form>
</div>

  </div>
</div>